.wrapper {
	width: 1150px;
	margin: auto;
}
* {
	margin: 0;
	padding: 0;
	font-family: arial;
}
.logo {
	height: 50px;
	margin: 10px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
	box-shadow: 0 1px 8px #ddd;
	background-color: #e6ffff;
	min-width: 860px;
}
.item {
	padding: 0 20px;
	list-style: none;

}
.item > a {
	text-decoration: none;
	color: black;
	transition: all 0.3s ease 0s;
}
.item > a:hover {
	color: #56a9e1;
	
}	
ul {
	display: flex;

}
.kernmidden {
	display: flex;
	background-color: ;
	margin: 0px;
	justify-content: center;
	height: auto;
	flex-wrap: wrap;
}
.box {
	background-color: #f5ffff;
	height: auto;
	flex-grow: 2;
	margin: 20px;
	padding: 10px;
	width: 0;
	
}
.boxtop {
	background-color: #f5ffff;
	height: auto;
	flex-grow: 2;
	margin: 40px 20px 20px 20px;
	padding: 10px;
	width: 0;
	
}
.break {
	flex-basis: 100%;
	height: 0px;
	
}
.opvul {
	flex-grow: 1;
	background-color: white;
	color: white;
}
a { 
	color: inherit; 
	text-decoration: none;
	transition: all 0.3s ease 0s;

} 
a > a:hover {
	text-decoration: none;
	color: black;
	transition: all 0.3s ease 0s;

}
a:hover {
	color: #56a9e1;
	
}
h1 {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}
h1 > h1:hover {
	text-decoration: none;
	color: black;
	transition: all 0.3s ease 0s;

}
h1:hover {
	color: #56a9e1;
	
}
p { 
	color: inherit; 
	text-decoration: none;

} 
.footer {
	width: 100%;
	background-color: #e6ffff;
	display: flex;
	height: auto;

}

.item2 {
	background-color: inherit;
	margin: 10px;
	flex-grow: 1;
}
.item3 {
	background-color: inherit;
	margin: 10px;
	flex-grow: 1;
	text-align: right;
	
}
.midden {
	background-color: #f5ffff;
	margin: 20px;
	padding: 10px;
}
li {
	list-style: none;
	
}